@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;700&family=Berkshire+Swash&family=Cormorant+SC:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  color: white;
  background-color: #14213d;
  font-family: "Cormorant SC", serif;
}

header {
  padding: 0 2em;
  background-color: #144552;
  color: white;
}

.menu-icon {
  display: none;
}

header img {
  width: 7em;
}

svg {
  width: 2em;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar li {
  display: flex;
  margin: 1em;
}

.nav-bar li a {
  text-decoration: none;
  color: white;
}

.nav-bar li a:hover {
  color: #a9989a;
}

.nav-bar svg {
  width: 1em;
}

/* .nav-bar svg:hover {
  cursor: pointer;

} */

.login-btn {
  padding: 9px 2em;
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #a9989a;
  box-shadow: -4px 4px 4px rgb(53, 53, 53);
  transform: translate(4px, -4px);
}

.container {
  font-family: "Abhaya Libre", serif;
  position: relative;
}

.top-series {
  font-size: larger;
  color: white;
}

.top-series .first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/One piece.jpg");
  background-size: cover;
  background-position: center;
  padding: 10em 0;
}

.top-series .second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/Demon Slayer.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 10em 0;
}

.top-series .third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/Naruto.webp");
  background-size: cover;
  background-position: center;
  padding: 10em 0;
}

.top-series h2,
p,
button,
.sml {
  margin-left: 20px;
}

.container .top-series {
  display: none;
}

.container .visible {
  display: block;
}

.span-no {
  font-size: 2rem;
  margin-left: 1em;
}

.sml ul {
  display: flex;
}

#more {
  text-decoration: none;
  color: white;
}

.sml li {
  list-style: none;
  margin: 0 1em;
}

.top-series p {
  font-size: larger;
  margin-top: 1em;
  margin-right: 30em;
}

.watch-btn {
  padding: 7px;
  color: rgb(42, 42, 42);
  background-color: #48cae4;
  transition: all 200ms ease-in-out;
  box-shadow: -1px 1px 1px rgb(53, 53, 53);
  transform: translate(2px, -2px);
}

.details-btn {
  padding: 6px;
  color: white;
  background-color: gray;
  transition: all 200ms ease-in-out;
  box-shadow: -1px 1px 1px rgb(53, 53, 53);
  transform: translate(2px, -2px);
}

.swep-btn {
  padding-right: 24px;
  width: 100%;
  position: absolute;
  bottom: 20%;
  display: flex;
  justify-content: space-between;
}

.swep-btn button {
  color: rgb(121, 121, 121);
  background-color: #232323;
  padding: 10px;
  border-radius: 20%;
  border: none;
}

.movie-lists {
  font-size: 1rem;
  font-family: "Abhaya Libre", serif;
  padding-left: 1em;
}

.movie-lists h2 {
  padding: 1em 0;
}

/* .link-collect h3 {
  margin-right: auto;
} */

/* .movie-lists .collcet {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.link-collect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.collect ul {
  list-style: none;
}

/* .collect {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
} */

/* .collect img {
  width: 20%;
  height: 100%;
} */

/* .movie-lists img {
  height: 100%;
  width: 80%;
  padding: 0 2em;
} */

.movie-lists li {
  margin-right: 0 1em;
  padding: 0 -4em;
}

.movie-lists img {
  width: 100%;
  height: 30em;
  /* object-fit: cover; */
}


.collect a {
  color: white;
  text-decoration: none;
}

.last {
  position: sticky;
  background-color: #144552;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last ul {
  list-style: none;
  display: flex;
}

.last img {
  width: 5em;
  margin-left: 2em;
}

.last li img {
  width: 3em;
}

.text li {
  margin-right: 2em;
}

.text li:hover {
  color: #a9989a;
}

.last .text a {
  text-decoration: none;
  color: white;
}

.last-btn {
  background-color: black;
  color: white;
  transition: all 200ms ease-in-out;
  padding: 0.5em 1em;
}

.comment {
  padding: 1em 2em;
}